#programming-languages{
   font-family: "Papyrus", fantasy;
   font-size: 12px;
   border-style: solid;
   width: 50%;
}
#computer-skills{
   font-family: "Papyrus", fantasy;
   font-size: 12px;
   border-style: solid;
   width: 50%;
}

div.skills-wrapper{
   float: left;
   padding: 15px;
}
