#programming-languages{
   font-family: "Papyrus", fantasy;
   font-size: 12px;
   border-style: solid;
   width: 50%;
   border-color: red;
   background-color: orange;
   color: gray;
   position: fixed;
   top: 35%;
   left: 0%;
}
#computer-skills{
   font-family: "Papyrus", fantasy;
   font-size: 12px;
   border-style: solid;
   width: 50%;
   border-color: green;
   background-color: lightblue;
   color: violet;
   position: fixed;
   top: 35%;
   left: 50.5%;
}

#skills-header{
   background-color: yellow;
}
